<div class="row">
  <div class="col-md-12">
    <div *ngIf="username.toLowerCase() === apiService.session?.user?.login?.toLowerCase()">
      Ваш общий рейтинг постов и комментариев во всех сообществах:
    </div>
    <div *ngIf="username.toLowerCase() !== apiService.session?.user?.login?.toLowerCase()">
      Общий рейтинг постов и комментариев
      <app-username [username]="username" [outer]="true"></app-username> во всех сообществах:
    </div>
    <svg class="chart" #svgElement></svg>
  </div>
</div>
