<div class="row">
  <div class="col-md-8">
    <h5>Как работает этот сайт</h5>

    <p>
      Привет!
      <br>
      Здесь я расскажу вкратце об этом сайте: о предыстории создания, мотивации, технологиях и т.д.
    </p>

    <p>
      Визуализация данных привлекала меня очень давно. К сожалению или счастью, это не то чем я зарабатываю на хлеб.
      Однако в свободное от работы время я люблю что-нибудь программировать.
      Большинство из моих домашних проектов остаются на личном ноутбуке, но некоторые приживаются.
      Как, например, <a href="https://romaklimenko.github.io/cheat" target="_blank">поиск слов</a> для игры Letterpress
      или <a href="https://romaklimenko.github.io/sun" target="_blank">визуализация</a> времени восхода и захода Солнца,
      или этот сайт. В случае каждого из проектов я убивал сразу нескольких зайцев:
      создавал то, чем мне самому интересно пользоваться и знакомился ближе с технологиями,
      которые мне были интересны, хоть они и не всегда пересекались с моими рабочими проектами.
    </p>

    <p>Визуализаци активности наверняка человека появились задолго до моего рождения.
      Было бы интересно когда-нибудь исследовать эту тему.
      <br>
      Моей первой визуализацией на эту тему был график моей активности в Twitter,
      который я сделал в 2015 году, изучая R:
      <img src="https://cdn.jpg.wtf/futurico/8d/6e/1524897673-8d6efc92bd37c3048bc3a6a0eb337151.png" class="img-fluid" />
    </p>

    <p>Пожалуй, самым ранним из известных мне сайтов на эту тему, посвященных d3.ru, является вот этот сайт:
      <a href="http://crea7or.spb.ru/proofer/" target="_blank">http://crea7or.spb.ru/proofer/</a>.
      Если знаете другие подобные проекты, напишите мне, пожалуйста – добавлю в этот текст.
    </p>

    <p>В марте 2018
      пользователь <app-username [username]="'Ishiwata'" [outer]="true"></app-username> сделал
      <a href="https://polka.d3.ru/test-voit-kampfa-1555485/?sorting=rating" target="_blank">крутую визуализацию</a>
      на Python:
      <br>
      <img src="https://cdn.jpg.wtf/futurico/81/9f/1520620365-819f751289ea2638493788f54db13a71.jpeg" class="img-fluid" />
      А в апреле я
      <a href="https://dataisbeautiful.d3.ru/grafiki-aktivnosti-1586681/?sorting=rating" target="_blank">сделал</a>
      такую же визуализацию на JavaScript, добавив графики сна и сравнение активностей пользователей:
      <img src="https://cdn.jpg.wtf/futurico/13/e8/1524854868-13e8648128de8567049367b12864a109.png" class="img-fluid">
      Так появилось сообщество <a href="https://dataisbeautiful.d3.ru/" target="_blank">dataisbeautiful</a>.
    </p>

    <hr>

    <p>Работать API d3.ru мне понравилось и в дальнейшем появилось
      <a href="https://dataisbeautiful.d3.ru/tag/dirty/" target="_blank">целая серия</a>
      постов, а у меня накопилось изрядное количество сприптов на Python на все случаи жизни.
      <br>
      Всё больше людей просило показать им отчет по их активностям, сну или карме.
      Так через год появилось
      <a href="https://dataisbeautiful.d3.ru/odin-god-1777478/?sorting=rating" target="_blank"></a> веб-приложение, которого не требовало моего вмешательства
      для составления этих отчетов:
      <img src="https://cdn.jpg.wtf/futurico/84/b4/1556176463-84b420891abee8c67f882a65c8b857a7.png" class="img-fluid">
    </p>

    <p>
      Сайт был написан за несколько вечеров и был максимально простым.
      Это было веб-приложение
      на <a href="https://expressjs.com/" target="_blank">Express</a>,
      фронтенд был на <a href="https://jquery.com/" target="_blank">jQuery</a>,
      графики на <a href="https://d3js.org/" target="_blank">D3.js</a>.
      <br>
      Активности пользователей кэшировались
      в <a href="https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction" target="_blank">Azure Storage</a>,
      так что нагрузка на API d3.ru была минимальной.
      Хостилось всё это на <a href="https://www.heroku.com/" target="_blank">Heroku</a>.
    </p>

    <p>
      Обратная сторона быстрой разработки – сложность поддержки. Чем больше сайт обрастал функциональностью,
      тем тяжелее было исправлять баги и добавлять новые особенности.
      Кроме того, хоть на Heroku очень просто создать небольшой сайт, поддержка HTTPS и приемлемая скорость сайта
      не были бесплатными – $7 в месяц.
    </p>

    <p>Поэтому сайт был полностью переписан. Сейчас фронтендная часть написана
      на <a href="https://angular.io/" target="_blank">Angular</a>
      (среднее время на&nbsp;добавление нового графика или фичи – около часа)
      и хостится на <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> (быстро и бесплатно).
      А&nbsp;бэкенд – это Express-приложение, которое хостится
      как <a href="https://cloud.google.com/functions" target="_blank">Google Cloud Function</a>.
      Там же, в <a href="https://cloud.google.com/storage" target="_blank">Google Cloud Storage</a>,
      теперь хранится кэш.
      <br>Так как нагрузка на сайт детская, то расходы на хостинг колеблются от нуля до двух евроцентов в месяц.
    </p>

    <p>
      За последние месяцы (март-июнь 2020) количество просмотров на сайте колеблется от 2 до 5 тысяч в месяц.
      Уникальных пользователей 200-300 в месяц. Забавно, что больше половины посетителей приходит из инбоксов.
    </p>

    <p>Такие дела.</p>

    <br>
  </div>
  <div class="col-md-4">
    <app-blog-list></app-blog-list>
  </div>
</div>
