<div class="row">
  <div class="col-md-8">
    <h5>Это интересно</h5>

    <p>Выкладываю ещё два своих проекта.</p>

    <p>
      <a href="https://github.com/romaklimenko/masterok" target="_blank">https://github.com/romaklimenko/masterok</a>
    </p>

    <p>Однажды я подписался на RSS пользователя <a href="https://masterok.livejournal.com/" target="_blank">masterok</a> в ЖЖ и мне понравилось как он пишет.
      Мне стало интересно написать cloud функцию, которая читала бы RSS Мастерка
      и публиковала новые посты на d3.ru.
      Так появился пользователь <app-username [username]="'interesno'" [outer]="true">interesno</app-username>.
      Тогда его звали Валерием.
    </p>

    <p>
      С RSS ЖЖ возникли проблемы потому что в него не попадали ссылки на видео.
      К счастью, у Мастерка ещё есть блог <a href="https://masterokblog.ru/" target="_blank">masterokblog.ru</a>.
      Но в блог попадают не все посты.
    </p>

    <p>Сообщество masterok набрало около 60 подписчиков, но, к сожалению, кроме познавательных постов
      Мастерок часто публиковал посты на провокационные политические темы, а это не то, чего мне бы хотелось.
    </p>

    <p>
      <a href="https://github.com/romaklimenko/pikabu" target="_blank">https://github.com/romaklimenko/pikabu</a>
    </p>

    <p>
      Следующим кандидатом для источника интересных постов был Телеграм-канал <a href="https://t.me/pikabu_ru" target="_blank">pikabu_ru</a>.
      Код для Мастерка был написан на TypeScript и мне показалось, что было бы гораздо проще
      использовать Python. Так что я переписал почти всё заново, но вместо чтения RSS добавил Telegram-клиент
      и парсинг постов Пикабу. Так <app-username [username]="'interesno'" [outer]="true">interesno</app-username> стала Таней.
    </p>

    <p>Новое сообщество <a href="https://peekaboo.d3.ru/" target="_blank">peekaboo</a> быстро набирало подписчиков,
      но администрация решила скрыть peekaboo с главной страницы d3.ru.
    </p>

    <p>Дальнейшее развитие проекта interesno мне стало неинтересно.
      Код выкладывается как есть, каждый из проектов писался за один вечер, так что баги неизбежны.
    </p>

    <p>
      Если вам нужен пользователь с красивым ником и золотым аккаунтом до 7 апреля 2021, напишите мне.
      Только, чур, на благие нужды.</p>

    <br>
    <br>

  </div>

  <div class="col-md-4">
    <app-blog-list></app-blog-list>

    <hr>

    <img src="https://cdn.jpg.wtf/futurico/4d/2a/1589839623-4d2a68829f59b13b5b73970fe106154e.jpeg" class="img-fluid">

  </div>

</div>
