<div class="row">
  <div class="col-md-8">
    <h5>Крякает, но не утка</h5>

    <p>
      15 июня 2017 года Футурико сыграла с пользователями d3.ru злую шутку
      и без предупреждения начала показывать флажки стран,
      соответствующие IP, из-под которого был написан комментарий или пост.
      Это сейчас все, кто хочет скрыть страну, из которой пишет, пользуется VPN,
      а до 15 июня 2017 года необходимости в VPN просто не было,
      потому что никто не видел из какой страны пишет пользователь.
    </p>

    <p>
      Воспользовавшись <a href="https://dataisbeautiful.d3.ru/flagi-i-liudi-1743384/?sorting=rating" target="_blank">старыми скриптами</a>,
      посмотрим, какие флажки у комментариев этого пользователя. Для начала, все комментарии, включая те, которые без флажков (N/A):
    </p>

    <img src="assets/images/cn-all.png" class="img-fluid">

    <p>
      В 2016-2018 пользователь утверждал, что живет в Чехии (cz), потом, вроде бы, переехал в Нидерланды (nl).
      Посмотрим, из-под IP каких стран он писал когда Футурико внезапно стала показывать на комментариях флажки.
      Для этого, сузим диапазон графика двумя месяцами – с 14 июня по 14 июля 2017:
    </p>

    <img src="assets/images/cn-first-month.png" class="img-fluid">

    <p>Красным отображены комментарии с украинскими флажками.
      Рассмотрим комментарии в тот день, когда Футурико ввела флажки.
      Тогда пользователь утверждал, что он из Чехии:</p>
    <ul>
      <li>
        <a href="https://traktor.d3.ru/komfortnoi-starosti-tred-1391262/?sorting=rating#20836589" target="_blank">комментарий</a>
        15 июня 2017 в 00:58 – без флажка.
      </li>
      <li>
        <a href="https://traktor.d3.ru/komfortnoi-starosti-tred-1391262/?sorting=rating#20836984" target="_blank">комментарий</a>
        15 июня 2017 в 05:22 без флажка.
      </li>
      <li>
        <a href="https://traktor.d3.ru/komfortnoi-starosti-tred-1391262/?sorting=rating#20837962" target="_blank">комментарий</a>
        15 июня 2017 в 08:18 без флажка.
      </li>
      <li>
        <a href="https://traktor.d3.ru/ochen-interesnye-statisticheskie-dannye-o-russkikh-i-voobshche-krupneishikh-emigrantskikh-gruppakh-v-chekhii-1391728/?sorting=rating#20838060" target="_blank">комментарий</a>
        15 июня 2017 в 08:36 🇺🇦<em>Украина</em> (первый комментарий с флажком).
      </li>
      <li>
        <a href="https://traktor.d3.ru/ochen-interesnye-statisticheskie-dannye-o-russkikh-i-voobshche-krupneishikh-emigrantskikh-gruppakh-v-chekhii-1391728/?sorting=rating#20838098" target="_blank">комментарий</a>
        15 июня 2017 в 08:41 🇺🇦<em>Украина</em>.
      </li>
      <li>
        <a href="https://traktor.d3.ru/ochen-interesnye-statisticheskie-dannye-o-russkikh-i-voobshche-krupneishikh-emigrantskikh-gruppakh-v-chekhii-1391728/?sorting=rating#20838182" target="_blank">комментарий</a>
        15 июня 2017 в 08:53 🇺🇦<em>Украина</em>.
      </li>
      <li>
        <a href="https://traktor.d3.ru/ochen-interesnye-statisticheskie-dannye-o-russkikh-i-voobshche-krupneishikh-emigrantskikh-gruppakh-v-chekhii-1391728/?sorting=rating#20838252" target="_blank">комментарий</a>
        15 июня 2017 в 09:02 🇺🇦<em>Украина</em>.
      </li>
      <li>
        <a href="https://grammar.d3.ru/k-100-letiiu-reformy-russkoi-orfografii-1391957/?sorting=rating#20838422" target="_blank">комментарий</a>
        15 июня 2017 в 09:22 🇺🇦<em>Украина</em>.
      </li>
      <li>
        <a href="https://traktor.d3.ru/ochen-interesnye-statisticheskie-dannye-o-russkikh-i-voobshche-krupneishikh-emigrantskikh-gruppakh-v-chekhii-1391728/?sorting=rating#20838764" target="_blank">комментарий</a>
        15 июня 2017 в 09:52 🇳🇱Нидерланды (через час заметил флажки и нашел VPN).
      </li>
      <li>
        <a href="https://traktor.d3.ru/komfortnoi-starosti-tred-1391262/?sorting=rating#20838796" target="_blank">комментарий</a>
        15 июня 2017 в 09:55 🇳🇱Нидерланды.
      </li>
      <li>
        <a href="https://grammar.d3.ru/k-100-letiiu-reformy-russkoi-orfografii-1391957/?sorting=rating#20838865" target="_blank">комментарий</a>
        15 июня 2017 в 10:00 🇳🇱Нидерланды.
      </li>
      <li>
        <a href="https://grammar.d3.ru/k-100-letiiu-reformy-russkoi-orfografii-1391957/?sorting=rating#20839666" target="_blank">комментарий</a>
        15 июня 2017 в 11:11 🇳🇱Нидерланды.
      </li>
      <li>
        <a href="https://grammar.d3.ru/k-100-letiiu-reformy-russkoi-orfografii-1391957/?sorting=rating#20840168" target="_blank">комментарий</a>
        15 июня 2017 в 12:04 🇺🇦<em>Украина</em> (ус отклеился).
      </li>
      <li>
        <a href="https://grammar.d3.ru/k-100-letiiu-reformy-russkoi-orfografii-1391957/?sorting=rating#20840579" target="_blank">комментарий</a>
        15 июня 2017 в 12:51 🇺🇦<em>Украина</em>.
      </li>
      <li>
        <a href="https://photo.d3.ru/zabroshennoe-kladbishche-1392167/?sorting=rating#20840915" target="_blank">комментарий</a>
        15 июня 2017 в 13:29 🇺🇦<em>Украина</em>.
      </li>
      <li>
        <a href="https://photo.d3.ru/zabroshennoe-kladbishche-1392167/?sorting=rating#20841882" target="_blank">комментарий</a>
        15 июня 2017 в 15:45 🇨🇿Чехия (наконец-то).
      </li>
      <li>
        <a href="https://photo.d3.ru/zabroshennoe-kladbishche-1392167/?sorting=rating#20842262" target="_blank">комментарий</a>
        15 июня 2017 в 16:34 🇨🇿Чехия.
      </li>
      <li>
        <a href="https://photo.d3.ru/zabroshennoe-kladbishche-1392167/?sorting=rating#20842347" target="_blank">комментарий</a>
        15 июня 2017 в 16:46 🇨🇿Чехия.
      </li>
      <li>...и все дальнейшие комментарии в тот день были из-под чешского IP.</li>
    </ul>

    <p>В дальнейшем украинские флажки, в отличие от всех нидерландских, чешских, британских и американских,
      встречаются в комментариях пользователя отдельными вкраплениями по одному или несколько.
      Выводы сделайте сами.
    </p>

    <p>Такие дела.</p>

    <br>
    <br>

  </div>

  <div class="col-md-4">
    <app-blog-list></app-blog-list>

    <hr>

    <img src="assets/images/duck_typing.png" class="img-fluid">

    <br>
    <br>

    <blockquote>
      <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%82%D0%B8%D0%BD%D0%B0%D1%8F_%D1%82%D0%B8%D0%BF%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F" target="_blank">Утиная типизация</a>
      (англ. Duck typing) — в ООП-языках — определение факта реализации определённого интерфейса объектом без явного указания или наследования этого интерфейса, а просто по реализации полного набора его методов.

      Название термина пошло от английского «duck test» («утиный тест»), который в оригинале звучит как:
      «<strong>Если это выглядит как утка, плавает как утка и крякает как утка, то это, вероятно, и есть утка</strong>».
    </blockquote>
  </div>

</div>
