<div class="row">
  <div class="col-md-6">
    <h5>Хроника выдачи индульгенций:</h5>

    <br>

    <ol reversed>
      <li><app-username [username]="'Butch_ara'"></app-username> 10 февраля 2021 <strong style="color: rgb(0, 200, 83);">+887</strong></li>
      <li><app-username [username]="'zaputina'"></app-username> 29 января 2021 <strong style="color: rgb(0, 200, 83);">+1384</strong></li>
      <li><app-username [username]="'Mic_vic'"></app-username> 18 января 2021 <strong style="color: rgb(0, 200, 83);">+106</strong></li>
      <li><app-username [username]="'Mindrock'"></app-username> 5 января 2021 <strong style="color: rgb(0, 200, 83);">+450</strong></li>
      <li><app-username [username]="'IvanZarubin'"></app-username> 1 января 2021 <strong style="color: rgb(0, 200, 83);">+1000</strong></li>
      <li><app-username [username]="'AvaxH'"></app-username> 31 декабря 2020 <strong style="color: rgb(0, 200, 83);">+857</strong></li>
      <li><app-username [username]="'nnmm'"></app-username> 25 декабря 2020 <strong style="color: rgb(0, 200, 83);">+71</strong></li>
      <li><app-username [username]="'AlexeySpace'"></app-username> 9 декабря 2020 <strong style="color: rgb(255, 87, 34);">-4</strong></li>
      <li><app-username [username]="'Robikon_44'"></app-username> 8 декабря 2020 <strong style="color: rgb(255, 87, 34);">-2</strong></li>
      <li><app-username [username]="'Blakk76'"></app-username> 4 декабря 2020 <strong style="color: rgb(0, 200, 83);">+98</strong></li>
      <li><app-username [username]="'Дмитрий_Шихов'"></app-username> 24 ноября 2020 <strong style="color: rgb(0, 200, 83);">+15</strong></li>
      <li><app-username [username]="'zyx'"></app-username> 17 ноября 2020 <strong style="color: rgb(0, 200, 83);">+63</strong></li>
      <li><app-username [username]="'plexanov35photo'"></app-username> 14 ноября 2020 <strong style="color: rgb(0, 200, 83);">+6</strong></li>
      <li><app-username [username]="'serzik65'"></app-username> 13 ноября 2020 <strong style="color: rgb(0, 200, 83);">+69</strong></li>
      <li><app-username [username]="'KotRra'"></app-username> 24 октября 2020 <strong style="color: rgb(0, 200, 83);">+83</strong></li>
      <li><app-username [username]="'maxood'"></app-username> 18 октября 2020 <strong style="color: rgb(0, 200, 83);">+41</strong></li>
      <li><app-username [username]="'unlaba'"></app-username> 6 октября 2020 <strong style="color: rgb(0, 200, 83);">+442</strong></li>
      <li><app-username [username]="'NikVic'"></app-username> 1 октября 2020 <strong style="color: rgb(0, 200, 83);">+1106</strong></li>
      <li><app-username [username]="'dnar'"></app-username> 30 сентября 2020 <strong style="color: rgb(0, 200, 83);">+231</strong></li>
      <li><app-username [username]="'milton4y'"></app-username> 30 сентября 2020 <strong style="color: rgb(0, 200, 83);">+372</strong></li>
      <li><app-username [username]="'Al_Wisman'"></app-username> 29 сентября 2020 <strong style="color: rgb(0, 200, 83);">+44</strong></li>
      <li><app-username [username]="'Thrashbox'"></app-username> 24 сентября 2020 <strong style="color: rgb(0, 200, 83);">+422</strong></li>
      <li><app-username [username]="'seoded'"></app-username> 23 сентября 2020 <strong style="color: rgb(0, 200, 83);">+57</strong></li>
      <li><app-username [username]="'portobello'"></app-username> 20 сентября 2020 <strong style="color: rgb(255, 87, 34);">-1213</strong></li>
      <li><app-username [username]="'iron3k'"></app-username> 13 сентября 2020 <strong style="color: rgb(0, 200, 83);">+28</strong></li>
      <li><app-username [username]="'einherjar'"></app-username> 4 сентября 2020 <strong style="color: rgb(0, 200, 83);">+2133</strong></li>
      <li><app-username [username]="'DJGlooM'"></app-username> 2 сентября 2020 <strong style="color: rgb(0, 200, 83);">+2185</strong></li>
      <li><app-username [username]="'Timick'"></app-username> 2 сентября 2020 <strong style="color: rgb(0, 200, 83);">+102</strong></li>
      <li><app-username [username]="'Oldrover'"></app-username> 2 сентября 2020 <strong style="color: rgb(0, 200, 83);">+3310</strong></li>
      <li><app-username [username]="'rongo'"></app-username> 27 августа 2020 <strong style="color: rgb(0, 200, 83);">+2506</strong></li>
      <li><app-username [username]="'north_spb'"></app-username> 26 августа 2020 <strong style="color: rgb(0, 200, 83);">+1460</strong></li>
      <li><app-username [username]="'GlRen'"></app-username> 23 августа 2020 <strong style="color: rgb(0, 200, 83);">+666</strong></li>
      <li><app-username [username]="'EasyLiving'"></app-username> 14 августа 2020 <strong style="color: rgb(0, 200, 83);">+238</strong></li>
      <li><app-username [username]="'Andreich'"></app-username> 14 августа 2020 <strong style="color: rgb(0, 200, 83);">+2701</strong></li>
      <li><app-username [username]="'Yfish'"></app-username> 14 августа 2020 <strong style="color: rgb(0, 200, 83);">+351</strong></li>
      <li><app-username [username]="'brainick'"></app-username> 6 августа 2020 <strong style="color: rgb(0, 200, 83);">+999</strong></li>
      <li><app-username [username]="'oceanrower'"></app-username> 30 июля 2020 <strong style="color: rgb(0, 200, 83);">+23</strong></li>
      <li><app-username [username]="'Vicsivanova'"></app-username> 19 июля 2020 <strong style="color: rgb(255, 87, 34);">-82</strong></li>
      <li><app-username [username]="'MIU'"></app-username> 5 мая 2020 <strong style="color: rgb(0, 200, 83);">+282</strong></li>
      <li><app-username [username]="'Konsto'"></app-username> 23 апреля 2020 <strong style="color: rgb(255, 87, 34);">-272</strong></li>
      <li><app-username [username]="'stunpix'"></app-username> 22 апреля 2020 <strong style="color: rgb(0, 200, 83);">+6</strong></li>
      <li><app-username [username]="'soroktu'"></app-username> 11 апреля 2020 <strong style="color: rgb(0, 200, 83);">+10</strong></li>
      <li><app-username [username]="'xaerostar'"></app-username> 2 апреля 2020 <strong style="color: rgb(0, 200, 83);">+2149</strong></li>
      <li><app-username [username]="'svoidela'"></app-username> 31 марта 2020 <strong style="color: rgb(0, 200, 83);">+15</strong></li>
      <li><app-username [username]="'Bez-Opredelennogo-Roda-Zanyatii'"></app-username> 20 марта 2020 <strong style="color: rgb(0, 200, 83);">+989</strong></li>
      <li><app-username [username]="'CherieDeVille'"></app-username> 17 марта 2020 <strong style="color: rgb(0, 200, 83);">+720</strong></li>
      <li><app-username [username]="'Евгений_Зубарев'"></app-username> 29 января 2020 <strong style="color: rgb(0, 200, 83);">+1219</strong></li>
      <li><app-username [username]="'Stas_II'"></app-username> 6 января 2020 <strong style="color: rgb(0, 200, 83);">+1758</strong></li>
      <li><app-username [username]="'AvaxH'"></app-username> 28 декабря 2019 <strong style="color: rgb(0, 200, 83);">+556</strong></li>
      <li><app-username [username]="'Negodyai'"></app-username> 11 декабря 2019 <strong style="color: rgb(0, 200, 83);">+83</strong></li>
      <li><app-username [username]="'Mindrock'"></app-username> 21 ноября 2019 <strong style="color: rgb(0, 200, 83);">+326</strong></li>
      <li><app-username [username]="'g00se'"></app-username> 15 ноября 2019 <strong style="color: rgb(0, 200, 83);">+7</strong></li>
      <li><app-username [username]="'Atomset'"></app-username> 11 октября 2019 <strong style="color: rgb(0, 200, 83);">+8</strong></li>
      <li><app-username [username]="'wilddolphin'"></app-username> 14 сентября 2019 <strong style="color: rgb(0, 200, 83);">+1142</strong></li>
      <li><app-username [username]="'Ragero'"></app-username> 12 сентября 2019 <strong style="color: rgb(0, 200, 83);">+759</strong></li>
      <li><app-username [username]="'StructureMan'"></app-username> 2 сентября 2019 <strong style="color: rgb(0, 200, 83);">+441</strong></li>
      <li><app-username [username]="'DJGlooM'"></app-username> 31 августа 2019 <strong style="color: rgb(0, 200, 83);">+1684</strong></li>
      <li><app-username [username]="'zyx'"></app-username> 29 августа 2019 <strong style="color: rgb(0, 200, 83);">+20</strong></li>
      <li><app-username [username]="'politiksonavt'"></app-username> 29 августа 2019 <strong style="color: rgb(0, 200, 83);">+702</strong></li>
      <li><app-username [username]="'ripcord'"></app-username> 28 августа 2019 <strong style="color: rgb(0, 200, 83);">+1466</strong></li>
      <li><app-username [username]="'rongo'"></app-username> 28 августа 2019 <strong style="color: rgb(0, 200, 83);">+1906</strong></li>
      <li><app-username [username]="'John5'"></app-username> 27 августа 2019 <strong style="color: rgb(0, 200, 83);">+15</strong></li>
      <li><app-username [username]="'paroxizm'"></app-username> 27 августа 2019 <strong style="color: rgb(0, 200, 83);">+365</strong></li>
      <li><app-username [username]="'north_spb'"></app-username> 27 августа 2019 <strong style="color: rgb(0, 200, 83);">+969</strong></li>
      <li><app-username [username]="'Oldrover'"></app-username> 27 августа 2019 <strong style="color: rgb(0, 200, 83);">+2140</strong></li>
      <li><app-username [username]="'VadimoV'"></app-username> 27 августа 2019 <strong style="color: rgb(0, 200, 83);">+1710</strong></li>
      <li><app-username [username]="'einherjar'"></app-username> 27 августа 2019 <strong style="color: rgb(0, 200, 83);">+1510</strong></li>
    </ol>
  </div>
  <div class="col-md-4">
    <a href="https://announcements.d3.ru/indulgentsiia-1837265/" target="_blank">
      <img src="https://cdn.jpg.wtf/futurico/da/ef/1566891813-daeffabd3b1a8e790a9ad0805abb389d.jpeg" alt="Индульгенция" class="img-fluid">
    </a>
  </div>
</div>