<div class="row">
  <div class="col-md-8">
    <h5>Как определяются авторы заметок</h5>

    <p>
      <a routerLink="/notes">Заметки</a> которые пишут другие пользователи у вас в профиле,
      могут быть видны вам только если у вас золотой аккаунт.
    </p>

    <p>
      Через API d3.ru можно получить все заметки, но без информации о том, кто эти заметки написал.
    </p>

    <p>
      Указав имя одного пользователя, можно посмотреть, что этот пользователь написал о вас в заметках.
    </p>

    <p>
      Таким образом, чтобы найти всех авторов заметок, нужно перебрать всех пользователей d3.ru.
      Это очень долгая операция т.к. речь идёт о переборе порядка 160 тысяч пользователей.
      Вместо этого мы перебираем гораздо меньшее множество – только тех пользователей, которые
      ставили вам плюсы или минусы в карму. В моем случае, это раскрывает авторов около 70% заметок.
    </p>

    <p>
      Заметки в отчете отсортированы в обратном порядке по дате добавления (новые сверху).
      Однако, когда пользователь редактирует заметку, дата заметки не меняется. Поэтому отображать эти даты нет смысла.
    </p>


    <p>Такие дела.</p>

    <br>
    <br>

  </div>

  <div class="col-md-4">
    <app-blog-list></app-blog-list>

    <hr>

    <img src="assets/images/dvornik.png" class="img-fluid">
  </div>

</div>
