<div *ngIf="!ready" class="row">
  <app-hypnotoad></app-hypnotoad>
</div>

<h5 *ngIf="ready && domain !== null">
  <a [href]="prefix | domain" target="_blank">{{ prefix }}</a>
</h5>

<div *ngIf="ready" class="row" style="margin-bottom: 15px;">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a [routerLink]="" class="nav-link" [ngClass]="currentTab === 'domain' ? 'active' : ''" (click)="selectTab('domain')">
          Сообщество
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="" class="nav-link" [ngClass]="currentTab === 'elections' ? 'active' : ''" (click)="selectTab('elections')">
          Выборы
        </a>
      </li>
    </ul>
  </div>
</div>

<div [hidden]="currentTab !== 'domain' || !ready">
  <app-domain-info *ngIf="ready && domain !== null" [domain]="domain" [width]="width()"></app-domain-info>
  <br>
  <app-domain-voters *ngIf="ready && voters" [voters]="this.voters" [width]="width()"></app-domain-voters>
  <br>
</div>
<div [hidden]="currentTab !== 'elections' || !ready">
  <app-domain-elections *ngIf="ready" [prefix]="prefix" [width]="width()"></app-domain-elections>
</div>

<div class="row">
  <div #widthStandard class="col-md-12"></div>
</div>
