<div class="row">
  <div class="col-md-12">
    <div>Распределение постов и комментариев с положительным и отрицательным
      рейтингами по сообществам:</div>
    <svg class="chart" #svgElement></svg>
    <br>
    <br>
    <div>Суммарный рейтинг постов и комментариев по сообществам:</div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">Сообщество</th>
            <th scope="col">Количество</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Средний рейтинг</th>
            <th scope="col">Предпочтение</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of ratings">
            <td>
              <a [href]="r.domainUrl" target="_blank">{{ r.domainName }}</a>
            </td>
            <td class="text-right">{{ r.count }}</td>
            <td class="text-right">{{ r.rating }}</td>
            <td class="text-right">{{ r.mean }}</td>
            <td class="text-right">{{ r.preferencesRating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
