<div class="row">
  <div class="col-md-8">
    <h5 class="card-title">/dirty/</h5>
    <p>Привет! Если вы попали сюда, то наверняка знаете о сайте
      <a href="https://d3.ru/" target="_blank">d3.ru</a>, ранее именуемом dirty.
      Здесь вы найдете немного статистики о dirty – пользователи, сообщества, главная и вот это всё.</p>

    <p>Этот сайт создан ради интереса, как хобби, без коммерческих целей.
      Сервис предоставляется как есть и автор не берет на себя обязательств по поддержке сайта.
      Тем не менее, если вы нашли ошибку, то пожалуйста, сообщите автору.</p>

    <p>Автор не отвечает за за неверную интерпретацию информации,
      полученной на этом сайте.
      Пожалуйста, не делайте поспешных выводов – это всего лишь графики и данные.
      Ответственность за то, как вы их интерпретируете, лежит на вас.
    </p>

    <p>Проект не нуждается в коммерческой поддержке,
      но если вам хочется сделать авторам приятное, то купите золотой аккаунт пользователю
      <a href="https://d3.ru/user/botan/" target="_blank">@botan</a>.
      Это он здесь смотрит на голоса в вашем профиле.
      Кстати,&nbsp;аккаунт&nbsp;истекает&nbsp;16&nbsp;июля&nbsp;2021&nbsp;года.
    </p>

    <h5 class="card-title">Авторы</h5>
    <ul class="list-unstyled">
      <li>Разработка: <a href="https://d3.ru/user/r10o/" target="_blank">@r10o</a>.</li>
      <li>Поддержка: <a href="https://d3.ru/user/botan/" target="_blank">@botan</a>.</li>
    </ul>

    <br>

<br>
<br>
