<div class="row">
  <div class="col-md-12">
    <div *ngIf="username.toLowerCase() === apiService.session?.user?.login?.toLowerCase()">
      Поклонники и ненавистники – те, кто поставил больше всего плюсов и минусов вашим последним
      пятидесяти активностям (постам или комментариям):
    </div>
    <div *ngIf="username.toLowerCase() !== apiService.session?.user?.login?.toLowerCase()">
      Поклонники и ненавистники – те, кто поставил больше всего плюсов и минусов последним
      пятидесяти активностям (постам или комментариям) <app-username [username]="username" [outer]="true"></app-username>:
    </div>
    <svg class="chart" #svgElement></svg>
  </div>
</div>
