<div class="row">
  <div class="col-md-8">
    <h5>Ботан собственной персоной</h5>

    <p>Пришло время поближе познакомить вас с Ботаном.
    </p>

    <p>
      Знакомьтесь,&nbsp;вот&nbsp;он:&nbsp;<a href="https://github.com/romaklimenko/botan" target="_blank">https://github.com/romaklimenko/botan</a>.
    </p>

    <p>Казалось бы, всего каких-то пять сотен строк кода, но у нас с ним были интересные проекты и эксперименты.</p>

    <p>Всё началось с желания разбавить сообщество <a href="https://dataisbeautiful.d3.ru/" target="_blank">dataisbeautiful</a>
      неавторскими постами. На тот момент оно состояло, в основном, из моих исследований d3.ru.
    </p>

    <p>Тогда мы подобрали 99 ссылок на хорошие визуализацие на reddit и других сайтах.
      Скриптами создали 99&nbsp;черновиков и Ботан пунктуально публиковал по одному посту в день.
      А <a href="https://dataisbeautiful.d3.ru/budem-znakomy-1843206/?sorting=rating" target="_blank">сотый пост</a>
      был заключительным постом с итогами.
    </p>

    <p>Следующим нашим проектом стало сообщество
      <a href="https://reports.d3.ru/" target="_blank">reports</a>,
      для которого Ботан собирал данные и еженедельно постил отчеты о постах на главной и об изменениях
      количества подписчиков в сообществах. Сейчас эти отчеты благополучно перекочевали на этот сайт.
    </p>

    <p>
      Третьим проектом были посты на
      <a href="https://etymology.d3.ru/" target="_blank">etymology</a>.
    </p>

    <p>
      Четвертый проект – серия постов в сообщества
        <a href="https://concrete.d3.ru/" target="_blank">concrete</a>,
        <a href="https://dataisbeautiful.d3.ru/" target="_blank">dataisbeautiful</a>,
        <a href="https://etymology.d3.ru/" target="_blank">etymology</a>,
        <a href="https://lambda.d3.ru/" target="_blank">lambda</a> и
        <a href="https://unsplash.d3.ru/" target="_blank">unsplash</a>.
      Ботан публиковал посты с нарастающей частотой, дойдя до 24 поста в сутки (по посту в час).
      Среди прочего, мы хотели проверить, удастся ли нам вытеснить политические сообщества с главной d3.ru.
      Нам это почти удалось. А среди положительных результатов этого эксперимента
      стоит отметить выросшее количество подписчиков в сообществах, где писал Ботан
      (см. на 🔥 в <a href="https://reports.d3.ru/soobshchestva-s-02-02-2020-po-09-02-2020-1925488/" target="_blank">этом</a> отчете).
    </p>

    <p>И наконец пятым (если я ничего не пропустил) по счету проектом стал этот сайт,
      для которого Ботан собирает данные и предоставляет свою сессию для просмотра кармы и голосов.</p>

    <p>Спасибо, Ботан!</p>

    <br>
    <br>

  </div>

  <div class="col-md-4">
    <app-blog-list></app-blog-list>

    <hr>

    <img src="https://cdn.jpg.wtf/futurico/31/1d/1560446645-311d587bb414de5508c4aa5fe1477729.jpeg" class="img-fluid">

  </div>

</div>
