<div class="row">
  <div class="col-md-6">
    <app-user-card></app-user-card>
    <br>
    <app-post-card></app-post-card>
    <br>
    <app-notes-card></app-notes-card>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Индульгенции</h5>
        <p>Хроника выдачи <a href="https://announcements.d3.ru/indulgentsiia-1837265/" target="_blank">индульгенций</a>:
          <br>
          <small>Последнее обновление: 7 февраля 2021.</small>
        </p>
        <a routerLink="/amen" class="btn btn-primary">YARRR!</a>
      </div>
    </div>
    <br>
    <app-top-card></app-top-card>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Нам пишут</h5>
        <p>Отзывы пользователей.
          <br>
          <small>Последнее обновление: 1 июля 2020.</small>
        </p>
        <a routerLink="/feedback" class="btn btn-primary">YARRR!</a>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Виртуалы</h5>
        <p>Самые выдающиеся из тех, кто голосует разными аккаунтами.
          <br>
          <small>Последнее обновление: 27 сентября 2020.</small>
        </p>
        <a routerLink="/socks" class="btn btn-primary">YARRR!</a>
      </div>
    </div>
    <br>
  </div>

  <div class="col-md-6">
    <app-domain-card></app-domain-card>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Горячие клавиши</h5>
        <ul class="list-unstyled">
          <li><kbd>H</kbd> – домой</li>
          <li><kbd>I</kbd> – о себе</li>
          <li><kbd>N</kbd> – заметки</li>
          <li><kbd>T</kbd> – главная</li>
        </ul>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <a routerLink="/welcome" class="btn btn-secondary btn-sm" style="width: 100px;">О сайте</a>&nbsp;
        <a routerLink="/release-notes" class="btn btn-secondary btn-sm" style="width: 120px;">Release notes</a>&nbsp;
        <a routerLink="/blog/login" class="btn btn-secondary btn-sm" style="width: 100px;">Дневничок</a>&nbsp;
        <br>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Внешние ссылки</h5>
        <ul class="list-unstyled">
          <li>
            <img src="https://storage.googleapis.com/dirty-public/github.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://github.com/romaklimenko/botan" target="_blank">botan</a> – тот самый <a href="https://d3.ru/user/botan/" target="_blank">Ботан</a>.
          </li>
          <li>
            <img src="https://storage.googleapis.com/dirty-public/github.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://github.com/romaklimenko/masterok" target="_blank">masterok</a> – автоматические посты на dirty из RSS.
          </li>
          <li>
            <img src="https://storage.googleapis.com/dirty-public/github.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://github.com/romaklimenko/pikabu" target="_blank">peekaboo</a> – автоматические посты на dirty из Telegram-канала Пикабу.
          </li>
          <li>
            <img src="https://storage.googleapis.com/dirty-public/github.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://gist.github.com/romaklimenko/420844a8ce06937d55254b62b8a02629" target="_blank">lopatkin</a> – банит одним махом на всех сообществах в списке.
          </li>
          <li>
            <img src="https://storage.googleapis.com/dirty-public/github.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://github.com/romaklimenko/dirty-toolset" target="_blank">dirty-toolset</a> – набор инструментов для dirty.
          </li>
          <li>
            <img src="https://storage.googleapis.com/dirty-public/github.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://github.com/romaklimenko/dirty-api" target="_blank">dirty-api</a> – Postman-коллекция запросов к API dirty.
          </li>
          <li>
            <img src="https://storage.googleapis.com/dirty-public/chrome.png" style="height: 16px; width: 16px;">&nbsp;
            <a href="https://chrome.google.com/webstore/detail/d3ru%2B%2B/kgfnllklobnkppnongnnbkfikibbkcnb?hl=ru&authuser=0" target="_blank">d3.ru++</a> – расширение для Google Chrome.
          </li>
        </ul>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a routerLink="/gold">
      <img src="assets/images/pleaseread.png" />
    </a>
  </div>
</div>

