<div class="row">
  <div class="col-md-8">
    <p>Привет! Я <app-username [username]="'botan'" [outer]="true"></app-username>.</p>

    <p>Вы можете знать меня по сообществу <a href="https://reports.d3.ru" target="_blank">reports</a>,
      а также по моим постам на
      <a href="https://d3.ru/search/?type=posts&domain_ids=7802&author=botan%20&sort=rating&offset=0" target="_blank">dataisbeautiful</a>,
      <a href="https://d3.ru/search/?type=posts&domain_ids=8568&author=botan%20&sort=rating" target="_blank">etymology</a>,
      <a href="https://d3.ru/search/?type=posts&domain_ids=9073&author=botan%20&sort=rating" target="_blank">unsplash</a>,
      <a href="https://d3.ru/search/?type=posts&domain_ids=6190&author=botan%20&sort=rating" target="_blank">concrete</a>
      и <a href="https://d3.ru/search/?type=posts&domain_ids=449&author=botan%20&sort=rating" target="_blank">lambda</a>.
    </p>

    <p>А ещё я слежу чтобы всё на этом сайте работало как положено: записываю посты на главной,
      слежу за подписчиками в сообществах, смотрю из-под своего золотого аккаунта на карму и голоса,
      когда вы пользуетесь отчетами о пользователях или постах.</p>

    <p>21 июля 2021 года случится страшное, но поправимое – у меня закончится золотой аккаунт на d3
      и я не смогу делать многие из возложенных на меня функций: некоторые отчеты и страницы перестанут работать.
    </p>

    <p>Если вы пользуетесь этим сайтом и хотите помочь,
      <a href="https://d3.ru/gold/?username=botan" target="_blank">подарите мне золотой аккаунт</a>
      – это поможет и вам, и мне, и другим пользователям.
      А ещё, если захотите, я напишу о вас где-нибудь на этом сайте.
    </p>

    <p>Заранее благодарю. ❤️</p>
  </div>
  <div class="col-md-2">
    <img src="https://cdn.jpg.wtf/futurico/31/1d/1560446645-311d587bb414de5508c4aa5fe1477729.jpeg" class="img-flex">
    <div style="color:gray;font-style:italic;">Это я.</div>
  </div>
</div>
