<div class="row">
  <div class="col-md-8">
    <h5>Виртуалы</h5>

    <p>Виртуалы, sockpuppets, твинки <i>(только не гуглите картинки по слову "twink")</i>
      – аккаунты, используемые одним человеком для минусования оппонентов или для поддержания дискуссии с самим собой.
      <br>На этой странице у нас собраны самые выдающиеся виртуалы d3.
      Вы можете встретить их в отчетах по карме и голосам – если после имени пользователя в скобочках
      написано <i>"(виртуал)"</i>, то это один из них.
    </p>
  </div>

</div>

<div class="row">

  <div class="col-md-4"> <!-- Column 1 -->

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/-silin-,konstantin14_88">-silin-, Konstantin14_88</a>
        </h5>
        <p>
          См. кармы пользователей:
          <app-username [username]="'13Friday'"></app-username>,
          <app-username [username]="'Alexx77ruS'"></app-username>,
          <app-username [username]="'BPA3'"></app-username>,
          <app-username [username]="'d3vilh'"></app-username>,
          <app-username [username]="'dharmalove'"></app-username>,
          <app-username [username]="'flash12'"></app-username>,
          <app-username [username]="'irygaev'"></app-username>,
          <app-username [username]="'Kwon_Chi_Min'"></app-username>,
          <app-username [username]="'makiaveli'"></app-username>,
          <app-username [username]="'mash-rooms'"></app-username>,
          <app-username [username]="'median'"></app-username>,
          <app-username [username]="'northeastunion'"></app-username>,
          <app-username [username]="'Utochkin'"></app-username>,
          <app-username [username]="'wickeddick'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/kotohod,xyn">Kotohod, XYN</a>
        </h5>
        <p>
          См. кармы пользователей:
          <app-username [username]="'Alleluiah'"></app-username>,
          <app-username [username]="'Bez-Opredelennogo-Roda-Zanyatii'"></app-username>,
          <app-username [username]="'BpyH'"></app-username>,
          <app-username [username]="'catmartyn'"></app-username>,
          <app-username [username]="'emev'"></app-username>,
          <app-username [username]="'evil_totoro'"></app-username>,
          <app-username [username]="'foreverClever'"></app-username>,
          <app-username [username]="'George_S'"></app-username>,
          <app-username [username]="'Hitler'"></app-username>,
          <app-username [username]="'Johann_St'"></app-username>,
          <app-username [username]="'Kolobov'"></app-username>,
          <app-username [username]="'kossmoss'"></app-username>,
          <app-username [username]="'LaserTheFirst'"></app-username>,
          <app-username [username]="'lexus30000'"></app-username>,
          <app-username [username]="'MaaazgiBac'"></app-username>,
          <app-username [username]="'nigilist'"></app-username>,
          <app-username [username]="'prostatak'"></app-username>,
          <app-username [username]="'SiExp'"></app-username>,
          <app-username [username]="'ssneg'"></app-username>,
          <app-username [username]="'tark'"></app-username>,
          <app-username [username]="'Theromorphe'"></app-username>,
          <app-username [username]="'Zubareff'"></app-username>.
        </p>

      </div>
    </div>

    <br>

    <!-- <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/pizdatiy,shljoma_gomelskiy,gnida_kazematnaya">
            Pizdatiy, Shljoma_Gomelskiy, Gnida_Kazematnaya</a>,
          <small><s>Shlyoma_Gomelskiy</s>, <s>Ivan_Granata</s>, <s>Poproshayka</s></small>
        </h5>
        <p>
          <a href="https://dataisbeautiful.d3.ru/sovpadeniia-1841286/?sorting=rating" target="_blank">
            Голосовал
          </a> четырьмя аккаунтами в кармы пользователей. После выпиливания трёх старых, завёл двух новых и продолжил.
          <br>
          См. кармы пользователей:
          <app-username [username]="'Coffeeman'"></app-username>,
          <app-username [username]="'Mauop_Buxpb'"></app-username>,
          <app-username [username]="'Portal'"></app-username>,
          <app-username [username]="'slver'"></app-username>.
        </p>

      </div>
    </div>

    <br> -->

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/user/unlaba">
            unlaba</a>,
          <small><s>bitl</s></small>
        </h5>
        <p>Один из самых активных виртуалов-минусаторов: проминусовал двумя аккаунтами кармы более чем пятиста пользователей.
          Все голоса этих виртуалов были сброшены администрацией 23.06.2020.</p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/motoblock,zaman">Motoblock, zaman</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'_reset'"></app-username>,
          <app-username [username]="'3t3vd'"></app-username>,
          <app-username [username]="'a_paschenko'"></app-username>,
          <app-username [username]="'ag4t'"></app-username>,
          <app-username [username]="'al_efesbi'"></app-username>,
          <app-username [username]="'alex_ivanov'"></app-username>,
          <app-username [username]="'alllo'"></app-username>,
          <app-username [username]="'andrey2007'"></app-username>,
          <app-username [username]="'Beguin'"></app-username>,
          <app-username [username]="'benzzin'"></app-username>,
          <app-username [username]="'bubamar'"></app-username>,
          <app-username [username]="'charlie_brown'"></app-username>,
          <app-username [username]="'check_facts'"></app-username>,
          <app-username [username]="'ComboRam'"></app-username>,
          <app-username [username]="'Cosma'"></app-username>,
          <app-username [username]="'cudubak'"></app-username>,
          <app-username [username]="'darkrose'"></app-username>,
          <app-username [username]="'DDK'"></app-username>,
          <app-username [username]="'deeds_of_flesh'"></app-username>,
          <app-username [username]="'denisio'"></app-username>,
          <app-username [username]="'dimon_gr'"></app-username>,
          <app-username [username]="'Ditfrid'"></app-username>,
          <app-username [username]="'DoggySmile'"></app-username>,
          <app-username [username]="'dsfox'"></app-username>,
          <app-username [username]="'duhastovich'"></app-username>,
          <app-username [username]="'EcoLog'"></app-username>,
          <app-username [username]="'ecort'"></app-username>,
          <app-username [username]="'einherjar'"></app-username>,
          <app-username [username]="'elicaster'"></app-username>,
          <app-username [username]="'emil_mustermann'"></app-username>,
          <app-username [username]="'faraosha'"></app-username>,
          <app-username [username]="'fromark'"></app-username>,
          <app-username [username]="'genezis'"></app-username>,
          <app-username [username]="'Gubanoff'"></app-username>,
          <app-username [username]="'HotStatic'"></app-username>,
          <app-username [username]="'Iamalive'"></app-username>,
          <app-username [username]="'ilshatkin'"></app-username>,
          <app-username [username]="'ineedmyspace'"></app-username>,
          <app-username [username]="'Ivan_Pomidorov'"></app-username>,
          <app-username [username]="'ivendar'"></app-username>,
          <app-username [username]="'ixubus'"></app-username>,
          <app-username [username]="'JerryTeray'"></app-username>,
          <app-username [username]="'kaba6ek'"></app-username>,
          <app-username [username]="'Kamui'"></app-username>,
          <app-username [username]="'kazzzuty'"></app-username>,
          <app-username [username]="'kiberbob'"></app-username>,
          <app-username [username]="'kliore'"></app-username>,
          <app-username [username]="'Kolhoznick'"></app-username>,
          <app-username [username]="'Kotomoto'"></app-username>,
          <app-username [username]="'l-luk'"></app-username>,
          <app-username [username]="'Laowhy'"></app-username>,
          <app-username [username]="'leha_chifir'"></app-username>,
          <app-username [username]="'LenarM'"></app-username>,
          <app-username [username]="'Lime'"></app-username>,
          <app-username [username]="'lorc'"></app-username>,
          <app-username [username]="'lrdh'"></app-username>,
          <app-username [username]="'MaskimHool'"></app-username>,
          <app-username [username]="'MIKITA'"></app-username>,
          <app-username [username]="'mrLizard'"></app-username>,
          <app-username [username]="'mumu999'"></app-username>,
          <app-username [username]="'murrko'"></app-username>,
          <app-username [username]="'murucututu'"></app-username>,
          <app-username [username]="'mystic07'"></app-username>,
          <app-username [username]="'nevmer'"></app-username>,
          <app-username [username]="'nikolia1976'"></app-username>,
          <app-username [username]="'ola1972'"></app-username>,
          <app-username [username]="'oleg7019'"></app-username>,
          <app-username [username]="'Otche74'"></app-username>,
          <app-username [username]="'paules'"></app-username>,
          <app-username [username]="'piluch'"></app-username>,
          <app-username [username]="'Pizdatiy'"></app-username>,
          <app-username [username]="'Postojannaya_Junga'"></app-username>,
          <app-username [username]="'potassium-permanganate'"></app-username>,
          <app-username [username]="'qoob'"></app-username>,
          <app-username [username]="'rabina1950'"></app-username>,
          <app-username [username]="'Rabotiaga'"></app-username>,
          <app-username [username]="'radiolog'"></app-username>,
          <app-username [username]="'Ragapega'"></app-username>,
          <app-username [username]="'renateg'"></app-username>,
          <app-username [username]="'rpoM'"></app-username>,
          <app-username [username]="'rsmike'"></app-username>,
          <app-username [username]="'Sap_ru'"></app-username>,
          <app-username [username]="'snob'"></app-username>,
          <app-username [username]="'sungrey'"></app-username>,
          <app-username [username]="'Tarilan'"></app-username>,
          <app-username [username]="'teawithoutsuger'"></app-username>,
          <app-username [username]="'Teplyakov'"></app-username>,
          <app-username [username]="'timsn'"></app-username>,
          <app-username [username]="'tiourine'"></app-username>,
          <app-username [username]="'ugo-chava'"></app-username>,
          <app-username [username]="'Vseradostneejit'"></app-username>,
          <app-username [username]="'zelyoniy'"></app-username>,
          <app-username [username]="'ZloeLukkoye'"></app-username>,
          <app-username [username]="'ZorgeZorge'"></app-username>,
          <app-username [username]="'zukertort'"></app-username>,
          <app-username [username]="'а_скиньте_мяч'"></app-username>,
          <app-username [username]="'Зорге'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/astrahanin,prokrastinator">Astrahanin, Prokrastinator</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'777romych'"></app-username>,
          <app-username [username]="'agent303'"></app-username>,
          <app-username [username]="'amosh'"></app-username>,
          <app-username [username]="'artguard'"></app-username>,
          <app-username [username]="'backdoorman'"></app-username>,
          <app-username [username]="'bbinki'"></app-username>,
          <app-username [username]="'benbow'"></app-username>,
          <app-username [username]="'bhaad'"></app-username>,
          <app-username [username]="'Fluffsky'"></app-username>,
          <app-username [username]="'fut'"></app-username>,
          <app-username [username]="'Garold'"></app-username>,
          <app-username [username]="'Gerych'"></app-username>,
          <app-username [username]="'Jeysky'"></app-username>,
          <app-username [username]="'JohnCarmack'"></app-username>,
          <app-username [username]="'KabinaShagohoda'"></app-username>,
          <app-username [username]="'kapelkin'"></app-username>,
          <app-username [username]="'klavir'"></app-username>,
          <app-username [username]="'LeonMskRu'"></app-username>,
          <app-username [username]="'maglor'"></app-username>,
          <app-username [username]="'mike_j'"></app-username>,
          <app-username [username]="'MIU'"></app-username>,
          <app-username [username]="'murucututu'"></app-username>,
          <app-username [username]="'nilsman'"></app-username>,
          <app-username [username]="'stap'"></app-username>,
          <app-username [username]="'Stringfellow_Hawke'"></app-username>,
          <app-username [username]="'Varfolomey'"></app-username>,
          <app-username [username]="'Walter_Scott'"></app-username>,
          <app-username [username]="'XepMaH'"></app-username>,
          <app-username [username]="'zobern'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/amginskiy,angry_cosmos,ecort">amginskiy, angry_cosmos, ecort</a>
        </h5>
        <p>Созвездие виртуалов-космонавтов, поддерживают друг друга плюсами. См.
          <a routerLink="/post/1999746">любой</a>&nbsp;
          <a routerLink="/post/1999746">пост</a> на aeronautics.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">

        </h5>
        <h5 class="card-title">
          <a routerLink="/users/al_amigo,xbrain,obrigado">
            Al_Amigo, XBrain, Obrigado,
          </a><small><s>ElTopo</s>, <s>ManachBoriska</s>, <s>Xavanagil</s></small>
        </h5>
        <p>
          <a href="https://dataisbeautiful.d3.ru/karmicheskoe-skhodstvo-1642246/" target="_blank">
            Одна из самых больших групп виртуалов
          </a>, поставившая минусы больше, чем сотне пользователей.
          Была частично выпилена администрацией, а голоса сброшены.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <small><s>exebichi</s>, <s>ex-exebichi</s></small>
        </h5>
        <p>Оба виртуальных пользователя выпиилены, <i>но осадок остался</i>. См. кармы пользователей
          <app-username [username]="'Da_ladno'"></app-username>,
          <app-username [username]="'danstar'"></app-username>,
          <app-username [username]="'dddnipro'"></app-username>,
          <app-username [username]="'domus'"></app-username>,
          <app-username [username]="'Eugene66'"></app-username>,
          <app-username [username]="'FreakII'"></app-username>,
          <app-username [username]="'Iki_Tiki'"></app-username>,
          <app-username [username]="'kirix'"></app-username>,
          <app-username [username]="'leha_chifir'"></app-username>,
          <app-username [username]="'leon_traut'"></app-username>,
          <app-username [username]="'Loz_Ko'"></app-username>,
          <app-username [username]="'mike444p'"></app-username>,
          <app-username [username]="'novogen'"></app-username>,
          <app-username [username]="'obloko-k'"></app-username>,
          <app-username [username]="'shestsem'"></app-username>,
          <app-username [username]="'sleep20of20reason'"></app-username>,
          <app-username [username]="'Trantor'"></app-username>,
          <app-username [username]="'veresk'"></app-username>,
          <app-username [username]="'xlnz'"></app-username>,
          <app-username [username]="'xzqtr'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/user/soltu">soltu</a>, <small><s>krugi</s>, <s>noh4o</s>, <s>slon1</s>, <s>swati</s>, <s>muslunka</s>, <s>radiolutik</s></small>
        </h5>
        <p>Минусовал кармы нескольким десяткам пользователей с семи аккаунтов.
          Виртуалы удалены администрацией после
          <a href="https://leprosorium.d3.ru/kratkaia-statistika-po-botam-v-poslednem-golosovanii-2000756/?sorting=rating" target="_blank">
            накруток голосов
          </a>
          за @New_Israel на выборах leprosorium.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/progn,johna">progn, JohnA</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'boris_polskiy'"></app-username>,
          <app-username [username]="'DmitryS'"></app-username>,
          <app-username [username]="'Eldjernon'"></app-username>,
          <app-username [username]="'enVmob'"></app-username>,
          <app-username [username]="'FreakII'"></app-username>,
          <app-username [username]="'kenotron'"></app-username>,
          <app-username [username]="'LawfulGood'"></app-username>,
          <app-username [username]="'megaz0id'"></app-username>,
          <app-username [username]="'ShockingGlue'"></app-username>,
          <app-username [username]="'trus'"></app-username>,
          <app-username [username]="'tux'"></app-username>,
          <app-username [username]="'Vamis'"></app-username>,
          <app-username [username]="'zinter2'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/fishdude,ctpax">FishDude, cTpax</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'a001aa98'"></app-username>,
          <app-username [username]="'a11es'"></app-username>,
          <app-username [username]="'adanik'"></app-username>,
          <app-username [username]="'addon25'"></app-username>,
          <app-username [username]="'Andrewss'"></app-username>,
          <app-username [username]="'anti-myx'"></app-username>,
          <app-username [username]="'Barlog'"></app-username>,
          <app-username [username]="'bk99'"></app-username>,
          <app-username [username]="'bloviatebookp'"></app-username>,
          <app-username [username]="'CenapaTop'"></app-username>,
          <app-username [username]="'cheburidze'"></app-username>,
          <app-username [username]="'chvjak'"></app-username>,
          <app-username [username]="'constantin80'"></app-username>,
          <app-username [username]="'danstar'"></app-username>,
          <app-username [username]="'Dcdento'"></app-username>,
          <app-username [username]="'dgary'"></app-username>,
          <app-username [username]="'dimmik'"></app-username>,
          <app-username [username]="'dudunyk'"></app-username>,
          <app-username [username]="'eJho'"></app-username>,
          <app-username [username]="'fadlnaser'"></app-username>,
          <app-username [username]="'Fiodarv'"></app-username>,
          <app-username [username]="'fixer'"></app-username>,
          <app-username [username]="'fizteh'"></app-username>,
          <app-username [username]="'fluf'"></app-username>,
          <app-username [username]="'Foghunter'"></app-username>,
          <app-username [username]="'fublya'"></app-username>,
          <app-username [username]="'GidroShmel'"></app-username>,
          <app-username [username]="'Harper'"></app-username>,
          <app-username [username]="'HongGilDong'"></app-username>,
          <app-username [username]="'Iglesias'"></app-username>,
          <app-username [username]="'kolobok'"></app-username>,
          <app-username [username]="'kos_kovaleff'"></app-username>,
          <app-username [username]="'Kulick'"></app-username>,
          <app-username [username]="'kushai_kiwi'"></app-username>,
          <app-username [username]="'lekard'"></app-username>,
          <app-username [username]="'littlestrow'"></app-username>,
          <app-username [username]="'Liubomudr'"></app-username>,
          <app-username [username]="'Lummie'"></app-username>,
          <app-username [username]="'MaxVB'"></app-username>,
          <app-username [username]="'Monosit'"></app-username>,
          <app-username [username]="'MrPitkin'"></app-username>,
          <app-username [username]="'multiblogger'"></app-username>,
          <app-username [username]="'Murmansk'"></app-username>,
          <app-username [username]="'Obrigado'"></app-username>,
          <app-username [username]="'Okeev99'"></app-username>,
          <app-username [username]="'Oneness'"></app-username>,
          <app-username [username]="'Pantofobos'"></app-username>,
          <app-username [username]="'paraom'"></app-username>,
          <app-username [username]="'pbl6a_6e3_TpycoB'"></app-username>,
          <app-username [username]="'Piijjen'"></app-username>,
          <app-username [username]="'prolis'"></app-username>,
          <app-username [username]="'qualk'"></app-username>,
          <app-username [username]="'raftopulo'"></app-username>,
          <app-username [username]="'ratraustra'"></app-username>,
          <app-username [username]="'RedSmell'"></app-username>,
          <app-username [username]="'Rezinov'"></app-username>,
          <app-username [username]="'Ricci'"></app-username>,
          <app-username [username]="'romaklimenko'"></app-username>,
          <app-username [username]="'Silverlj'"></app-username>,
          <app-username [username]="'smel'"></app-username>,
          <app-username [username]="'sni10per'"></app-username>,
          <app-username [username]="'solopaka'"></app-username>,
          <app-username [username]="'tiontrun'"></app-username>,
          <app-username [username]="'torero'"></app-username>,
          <app-username [username]="'tramadol'"></app-username>,
          <app-username [username]="'UncleFester'"></app-username>,
          <app-username [username]="'vitaminych'"></app-username>,
          <app-username [username]="'vlad84'"></app-username>,
          <app-username [username]="'vmax'"></app-username>,
          <app-username [username]="'volgaoka'"></app-username>,
          <app-username [username]="'webcom'"></app-username>,
          <app-username [username]="'wintermute24'"></app-username>,
          <app-username [username]="'xar'"></app-username>,
          <app-username [username]="'xzqtr'"></app-username>,
          <app-username [username]="'Yalo11'"></app-username>,
          <app-username [username]="'Yosha'"></app-username>,
          <app-username [username]="'aa-dav'"></app-username>.
        </p>
      </div>
    </div>

    <br>

  </div>

  <div class="col-md-4"> <!-- Column 2 -->

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">

        </h5>
        <h5 class="card-title">
          <a routerLink="/user/blr">BLR</a>, <small><s>BBBBB</s>, <s>rfob</s></small>
        </h5>
        <p>Группа виртуалов, поставившая минусы в карму примерно сотне пользователей. Была частично выпилена администрацией, но <em>минусы остались</em>.
          <br>См. кармы пользователей
          <app-username [username]="'_wqwa'"></app-username>,
          <app-username [username]="'AkirVlas'"></app-username>,
          <app-username [username]="'alexicmow'"></app-username>,
          <app-username [username]="'allofauthor'"></app-username>,
          <app-username [username]="'AlohaYaVBar'"></app-username>,
          <app-username [username]="'Ap0stle'"></app-username>,
          <app-username [username]="'armon'"></app-username>,
          <app-username [username]="'azzahar'"></app-username>,
          <app-username [username]="'badloco'"></app-username>,
          <app-username [username]="'bambula'"></app-username>,
          <app-username [username]="'Bhagavad'"></app-username>,
          <app-username [username]="'Blip'"></app-username>,
          <app-username [username]="'bulo4kin'"></app-username>,
          <app-username [username]="'Chai'"></app-username>,
          <app-username [username]="'Claime'"></app-username>,
          <app-username [username]="'d_ivan'"></app-username>,
          <app-username [username]="'de'"></app-username>,
          <app-username [username]="'Der_RBD'"></app-username>,
          <app-username [username]="'DHK'"></app-username>,
          <app-username [username]="'divannei'"></app-username>,
          <app-username [username]="'dmitryco'"></app-username>,
          <app-username [username]="'DmitryLoki'"></app-username>,
          <app-username [username]="'dubrov'"></app-username>,
          <app-username [username]="'Edkiy_Minusator'"></app-username>,
          <app-username [username]="'Epicure'"></app-username>,
          <app-username [username]="'fakedream'"></app-username>,
          <app-username [username]="'fakeforreg13'"></app-username>,
          <app-username [username]="'FormatC'"></app-username>,
          <app-username [username]="'Garold'"></app-username>,
          <app-username [username]="'geoirhan'"></app-username>,
          <app-username [username]="'hellexecutor'"></app-username>,
          <app-username [username]="'Hiedymin'"></app-username>,
          <app-username [username]="'HuHKa_KapTuHKa'"></app-username>,
          <app-username [username]="'iarua'"></app-username>,
          <app-username [username]="'ircmaan'"></app-username>,
          <app-username [username]="'Jack_Stapler'"></app-username>,
          <app-username [username]="'jamadcat'"></app-username>,
          <app-username [username]="'jart'"></app-username>,
          <app-username [username]="'JerryTeray'"></app-username>,
          <app-username [username]="'jimmy_dwarf'"></app-username>,
          <app-username [username]="'Jsf'"></app-username>,
          <app-username [username]="'JukeboxHero'"></app-username>,
          <app-username [username]="'JumpDa'"></app-username>,
          <app-username [username]="'klb3317'"></app-username>,
          <app-username [username]="'Konsto'"></app-username>,
          <app-username [username]="'korben'"></app-username>,
          <app-username [username]="'Lobey'"></app-username>,
          <app-username [username]="'Loginov'"></app-username>,
          <app-username [username]="'lonestar'"></app-username>,
          <app-username [username]="'lutik'"></app-username>,
          <app-username [username]="'maglor'"></app-username>,
          <app-username [username]="'mari_f'"></app-username>,
          <app-username [username]="'Matec'"></app-username>,
          <app-username [username]="'MishkaCaramba'"></app-username>,
          <app-username [username]="'Motoblock'"></app-username>,
          <app-username [username]="'mr_Dellay'"></app-username>,
          <app-username [username]="'nontrivial2'"></app-username>,
          <app-username [username]="'Olgase'"></app-username>,
          <app-username [username]="'Pibody'"></app-username>,
          <app-username [username]="'pirazole'"></app-username>,
          <app-username [username]="'Pizdatiy'"></app-username>,
          <app-username [username]="'platoon'"></app-username>,
          <app-username [username]="'po_ehavshiy'"></app-username>,
          <app-username [username]="'professorkuusamo'"></app-username>,
          <app-username [username]="'romaklimenko'"></app-username>,
          <app-username [username]="'Sardix'"></app-username>,
          <app-username [username]="'semeny4'"></app-username>,
          <app-username [username]="'shestsem'"></app-username>,
          <app-username [username]="'ShockingGlue'"></app-username>,
          <app-username [username]="'shokir'"></app-username>,
          <app-username [username]="'Shraibikus'"></app-username>,
          <app-username [username]="'SiExp'"></app-username>,
          <app-username [username]="'sirik'"></app-username>,
          <app-username [username]="'slver'"></app-username>,
          <app-username [username]="'stanley-by'"></app-username>,
          <app-username [username]="'Throttle'"></app-username>,
          <app-username [username]="'twosiberia'"></app-username>,
          <app-username [username]="'UndeadMoroz'"></app-username>,
          <app-username [username]="'unquiet'"></app-username>,
          <app-username [username]="'Uran257z'"></app-username>,
          <app-username [username]="'Uran752z'"></app-username>,
          <app-username [username]="'Vamis'"></app-username>,
          <app-username [username]="'vikgr'"></app-username>,
          <app-username [username]="'Word'"></app-username>,
          <app-username [username]="'YaneLPRT'"></app-username>,
          <app-username [username]="'YanZommer'"></app-username>,
          <app-username [username]="'Yfish'"></app-username>,
          <app-username [username]="'zealot9'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/collimator,osu">collimator, osu</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'_wqwa'"></app-username>,
          <app-username [username]="'alexchesakov'"></app-username>,
          <app-username [username]="'Alexmazzza'"></app-username>,
          <app-username [username]="'AlexU'"></app-username>,
          <app-username [username]="'azverinsb'"></app-username>,
          <app-username [username]="'BaSkov'"></app-username>,
          <app-username [username]="'BrusGa'"></app-username>,
          <app-username [username]="'Buffout'"></app-username>,
          <app-username [username]="'cepn'"></app-username>,
          <app-username [username]="'Dimezz'"></app-username>,
          <app-username [username]="'Drem'"></app-username>,
          <app-username [username]="'Ernillew'"></app-username>,
          <app-username [username]="'gambler'"></app-username>,
          <app-username [username]="'GeasMuire'"></app-username>,
          <app-username [username]="'HeLL'"></app-username>,
          <app-username [username]="'helldoll'"></app-username>,
          <app-username [username]="'Imnotdirty'"></app-username>,
          <app-username [username]="'jimmy_dwarf'"></app-username>,
          <app-username [username]="'kibabiba'"></app-username>,
          <app-username [username]="'ktibr'"></app-username>,
          <app-username [username]="'Model_3'"></app-username>,
          <app-username [username]="'mongol'"></app-username>,
          <app-username [username]="'Moskovit'"></app-username>,
          <app-username [username]="'murrzik'"></app-username>,
          <app-username [username]="'netto'"></app-username>,
          <app-username [username]="'Obrigado'"></app-username>,
          <app-username [username]="'Osof'"></app-username>,
          <app-username [username]="'Pokoritel'"></app-username>,
          <app-username [username]="'progn'"></app-username>,
          <app-username [username]="'prostokvasili'"></app-username>,
          <app-username [username]="'radvadsta'"></app-username>,
          <app-username [username]="'Real_Fa'"></app-username>,
          <app-username [username]="'romaklimenko'"></app-username>,
          <app-username [username]="'shlakoblock'"></app-username>,
          <app-username [username]="'sim30000'"></app-username>,
          <app-username [username]="'SpideRussia'"></app-username>,
          <app-username [username]="'Sturm88'"></app-username>,
          <app-username [username]="'tel_mail'"></app-username>,
          <app-username [username]="'trololoshka'"></app-username>,
          <app-username [username]="'uzhas'"></app-username>,
          <app-username [username]="'VictoK'"></app-username>,
          <app-username [username]="'vince_vega'"></app-username>,
          <app-username [username]="'vis'"></app-username>,
          <app-username [username]="'volgaoka'"></app-username>,
          <app-username [username]="'volkot'"></app-username>,
          <app-username [username]="'wilddolphin'"></app-username>,
          <app-username [username]="'xoct'"></app-username>,
          <app-username [username]="'Ymexa'"></app-username>,
          <app-username [username]="'Евгений_Зубарев'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/portal,coffeeman">Portal, Coffeeman</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'Agafirs'"></app-username>,
          <app-username [username]="'AlexanderVV'"></app-username>,
          <app-username [username]="'alexchesakov'"></app-username>,
          <app-username [username]="'AlohaYaVBar'"></app-username>,
          <app-username [username]="'amosh'"></app-username>,
          <app-username [username]="'atlakatl'"></app-username>,
          <app-username [username]="'Atrakom'"></app-username>,
          <app-username [username]="'baranov_eu'"></app-username>,
          <app-username [username]="'Bayda'"></app-username>,
          <app-username [username]="'BlackHeart'"></app-username>,
          <app-username [username]="'BrunoDeveris'"></app-username>,
          <app-username [username]="'Bugi'"></app-username>,
          <app-username [username]="'Camarada'"></app-username>,
          <app-username [username]="'chumpique'"></app-username>,
          <app-username [username]="'comrade_vl'"></app-username>,
          <app-username [username]="'de_gamer'"></app-username>,
          <app-username [username]="'drgs'"></app-username>,
          <app-username [username]="'Ezhich'"></app-username>,
          <app-username [username]="'FOXXX'"></app-username>,
          <app-username [username]="'Frank_Sidebottom'"></app-username>,
          <app-username [username]="'gonzalo_guerrero'"></app-username>,
          <app-username [username]="'hulio_tebenaddo'"></app-username>,
          <app-username [username]="'ingermanland'"></app-username>,
          <app-username [username]="'investfund'"></app-username>,
          <app-username [username]="'iouri'"></app-username>,
          <app-username [username]="'ipsy'"></app-username>,
          <app-username [username]="'jimmy_dwarf'"></app-username>,
          <app-username [username]="'Kafka_Grefnewaya'"></app-username>,
          <app-username [username]="'kobum'"></app-username>,
          <app-username [username]="'Kolai'"></app-username>,
          <app-username [username]="'lemeshev'"></app-username>,
          <app-username [username]="'leshapeshkov'"></app-username>,
          <app-username [username]="'lesswrong'"></app-username>,
          <app-username [username]="'lovestar'"></app-username>,
          <app-username [username]="'MaksTR'"></app-username>,
          <app-username [username]="'Marinaco'"></app-username>,
          <app-username [username]="'melee'"></app-username>,
          <app-username [username]="'mormur'"></app-username>,
          <app-username [username]="'murrzik'"></app-username>,
          <app-username [username]="'nontrivial2'"></app-username>,
          <app-username [username]="'nuttkase'"></app-username>,
          <app-username [username]="'ParamedicUnit'"></app-username>,
          <app-username [username]="'perecfx'"></app-username>,
          <app-username [username]="'persey'"></app-username>,
          <app-username [username]="'pfeffer'"></app-username>,
          <app-username [username]="'premium'"></app-username>,
          <app-username [username]="'ptuch'"></app-username>,
          <app-username [username]="'radist_ka'"></app-username>,
          <app-username [username]="'rouel'"></app-username>,
          <app-username [username]="'schaman'"></app-username>,
          <app-username [username]="'seoded'"></app-username>,
          <app-username [username]="'Shikl'"></app-username>,
          <app-username [username]="'shizumaat'"></app-username>,
          <app-username [username]="'sim30000'"></app-username>,
          <app-username [username]="'Sokira_Stalina'"></app-username>,
          <app-username [username]="'stdt'"></app-username>,
          <app-username [username]="'steamer'"></app-username>,
          <app-username [username]="'StructureMan'"></app-username>,
          <app-username [username]="'SuperOzma'"></app-username>,
          <app-username [username]="'suriya'"></app-username>,
          <app-username [username]="'trololoshka'"></app-username>,
          <app-username [username]="'ujypf'"></app-username>,
          <app-username [username]="'Uparesaou'"></app-username>,
          <app-username [username]="'usa303'"></app-username>,
          <app-username [username]="'ushkuinik13'"></app-username>,
          <app-username [username]="'v0ndelpark'"></app-username>,
          <app-username [username]="'vadeg'"></app-username>,
          <app-username [username]="'volgaoka'"></app-username>,
          <app-username [username]="'Walter_Scott'"></app-username>,
          <app-username [username]="'WertyQ'"></app-username>,
          <app-username [username]="'wild_grape'"></app-username>,
          <app-username [username]="'wintercyclone'"></app-username>,
          <app-username [username]="'Xepypk'"></app-username>,
          <app-username [username]="'Zalupman'"></app-username>,
          <app-username [username]="'zealot9'"></app-username>,
          <app-username [username]="'aabazh'"></app-username>,
          <app-username [username]="'трудяга'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/mig29,cebepo_boctok,ha_cebepe_mopo3,salazar">
            mig29, CEBEPO_BOCTOK, HA_CEBEPE_MOPO3, salazar
          </a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'Aindrill'"></app-username>,
          <app-username [username]="'Europan'"></app-username>,
          <app-username [username]="'Garold'"></app-username>,
          <app-username [username]="'Herrasdva'"></app-username>,
          <app-username [username]="'KidoKoin'"></app-username>,
          <app-username [username]="'lord_aschenbecher'"></app-username>,
          <app-username [username]="'papa_bender'"></app-username>,
          <app-username [username]="'quasario'"></app-username>,
          <app-username [username]="'rabinovic'"></app-username>,
          <app-username [username]="'Russeler'"></app-username>,
          <app-username [username]="'Sap_ru'"></app-username>,
          <app-username [username]="'stierchen'"></app-username>,
          <app-username [username]="'Евгений_Зубарев'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/luci,zaputina">luci, zaputina</a>, <small><s>zadrottenfuhrer</s>, <s>atosha</s>, <s>ekivoki</s>, <s>frogeater</s>, <s>suchipotroh</s>, <s>fuckcars</s></small>
        </h5>
        <p>Самая большая группа виртуалов, поддерживающая дискуссии в
          <a href="https://dataisbeautiful.d3.ru/flagi-i-liudi-1743384/" target="_blank">
            собственных постах
          </a>. Была частично выпилена администрацией. См. любой пост luci на cosmos.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/muhin,vl505">Muhin, vl505</a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'2kay'"></app-username>,
          <app-username [username]="'31houston'"></app-username>,
          <app-username [username]="'avprof'"></app-username>,
          <app-username [username]="'basala'"></app-username>,
          <app-username [username]="'Chuchundrovich'"></app-username>,
          <app-username [username]="'de_gamer'"></app-username>,
          <app-username [username]="'dmineev'"></app-username>,
          <app-username [username]="'Eldjernon'"></app-username>,
          <app-username [username]="'foreverClever'"></app-username>,
          <app-username [username]="'gloxter'"></app-username>,
          <app-username [username]="'Gunnarr'"></app-username>,
          <app-username [username]="'kapelkin'"></app-username>,
          <app-username [username]="'klavir'"></app-username>,
          <app-username [username]="'KotRra'"></app-username>,
          <app-username [username]="'Kucha_Musora'"></app-username>,
          <app-username [username]="'Lime'"></app-username>,
          <app-username [username]="'OdinizVas'"></app-username>,
          <app-username [username]="'plesk'"></app-username>,
          <app-username [username]="'rsmike'"></app-username>,
          <app-username [username]="'sconto'"></app-username>,
          <app-username [username]="'setka'"></app-username>,
          <app-username [username]="'st_dog'"></app-username>,
          <app-username [username]="'StivyG'"></app-username>,
          <app-username [username]="'sungazer'"></app-username>,
          <app-username [username]="'Understander'"></app-username>,
          <app-username [username]="'vasyalee'"></app-username>,
          <app-username [username]="'vgrant'"></app-username>,
          <app-username [username]="'VictoK'"></app-username>.
        </p>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/users/zianovietrusiki,umbabaraumba,mozilka,deadbefff,deadbeff,ebounty">
            Zianovietrusiki, umbabaraumba, Mozilka, deadbefff, DEADBEFF, Ebounty
          </a>
        </h5>
        <p>См. кармы пользователей
          <app-username [username]="'_Al'"></app-username>,
          <app-username [username]="'2picca'"></app-username>,
          <app-username [username]="'4aka'"></app-username>,
          <app-username [username]="'4yKoTka'"></app-username>,
          <app-username [username]="'50creative'"></app-username>,
          <app-username [username]="'7litroviyDrug'"></app-username>,
          <app-username [username]="'a_LEX'"></app-username>,
          <app-username [username]="'aeva'"></app-username>,
          <app-username [username]="'alexamio'"></app-username>,
          <app-username [username]="'andrey_321'"></app-username>,
          <app-username [username]="'Andrusha'"></app-username>,
          <app-username [username]="'angry_monkey'"></app-username>,
          <app-username [username]="'AnnaFedorovna'"></app-username>,
          <app-username [username]="'Anton_Chigurh'"></app-username>,
          <app-username [username]="'Apri'"></app-username>,
          <app-username [username]="'Astro'"></app-username>,
          <app-username [username]="'B1-66ER'"></app-username>,
          <app-username [username]="'baranov_eu'"></app-username>,
          <app-username [username]="'Barlog'"></app-username>,
          <app-username [username]="'bezludny'"></app-username>,
          <app-username [username]="'BionicKoshchei'"></app-username>,
          <app-username [username]="'bmfx'"></app-username>,
          <app-username [username]="'bodro'"></app-username>,
          <app-username [username]="'Bromka'"></app-username>,
          <app-username [username]="'burutik'"></app-username>,
          <app-username [username]="'Caritas'"></app-username>,
          <app-username [username]="'Chatter'"></app-username>,
          <app-username [username]="'CheburatorUA'"></app-username>,
          <app-username [username]="'chel'"></app-username>,
          <app-username [username]="'Chillz'"></app-username>,
          <app-username [username]="'Conso'"></app-username>,
          <app-username [username]="'const06'"></app-username>,
          <app-username [username]="'Cyb3r'"></app-username>,
          <app-username [username]="'dedmit'"></app-username>,
          <app-username [username]="'dee'"></app-username>,
          <app-username [username]="'DeepSilence'"></app-username>,
          <app-username [username]="'Dizza'"></app-username>,
          <app-username [username]="'dtravkin'"></app-username>,
          <app-username [username]="'dvapizdat'"></app-username>,
          <app-username [username]="'dvarok'"></app-username>,
          <app-username [username]="'Ergil'"></app-username>,
          <app-username [username]="'Eustace'"></app-username>,
          <app-username [username]="'evde'"></app-username>,
          <app-username [username]="'Ex3must'"></app-username>,
          <app-username [username]="'fahrenh8'"></app-username>,
          <app-username [username]="'fiodor8'"></app-username>,
          <app-username [username]="'FishDude'"></app-username>,
          <app-username [username]="'gafurka'"></app-username>,
          <app-username [username]="'gesha_kharkovsky'"></app-username>,
          <app-username [username]="'grommir'"></app-username>,
          <app-username [username]="'gruzin'"></app-username>,
          <app-username [username]="'GSL'"></app-username>,
          <app-username [username]="'hadabr'"></app-username>,
          <app-username [username]="'hellswalker'"></app-username>,
          <app-username [username]="'hemets'"></app-username>,
          <app-username [username]="'Hnatyuk'"></app-username>,
          <app-username [username]="'Huevenkiy'"></app-username>,
          <app-username [username]="'ilio'"></app-username>,
          <app-username [username]="'indeedless'"></app-username>,
          <app-username [username]="'infested'"></app-username>,
          <app-username [username]="'Isurugi'"></app-username>,
          <app-username [username]="'JerryTeray'"></app-username>,
          <app-username [username]="'Jude'"></app-username>,
          <app-username [username]="'junari'"></app-username>,
          <app-username [username]="'k3ch'"></app-username>,
          <app-username [username]="'Kamagi'"></app-username>,
          <app-username [username]="'karataev'"></app-username>,
          <app-username [username]="'kardick'"></app-username>,
          <app-username [username]="'Kearsarge'"></app-username>,
          <app-username [username]="'KenDrive'"></app-username>,
          <app-username [username]="'keth'"></app-username>,
          <app-username [username]="'klinch'"></app-username>,
          <app-username [username]="'klonkaktusa'"></app-username>,
          <app-username [username]="'Kolobok2205'"></app-username>,
          <app-username [username]="'koshkot'"></app-username>,
          <app-username [username]="'Kostikk'"></app-username>,
          <app-username [username]="'kyzma'"></app-username>,
          <app-username [username]="'leon3842'"></app-username>,
          <app-username [username]="'lesswrong'"></app-username>,
          <app-username [username]="'Lighteater'"></app-username>,
          <app-username [username]="'littlestrow'"></app-username>,
          <app-username [username]="'Magpie'"></app-username>,
          <app-username [username]="'mandrian'"></app-username>,
          <app-username [username]="'matveyco'"></app-username>,
          <app-username [username]="'Maxeast'"></app-username>,
          <app-username [username]="'mezger'"></app-username>,
          <app-username [username]="'michaelboyarsky'"></app-username>,
          <app-username [username]="'mike_j'"></app-username>,
          <app-username [username]="'mirotvorec'"></app-username>,
          <app-username [username]="'miver'"></app-username>,
          <app-username [username]="'Monosit'"></app-username>,
          <app-username [username]="'moonwalkersyrius'"></app-username>,
          <app-username [username]="'Mr-Wunderbar'"></app-username>,
          <app-username [username]="'mrlsd25'"></app-username>,
          <app-username [username]="'mrWermut'"></app-username>,
          <app-username [username]="'NikolaichOld'"></app-username>,
          <app-username [username]="'Nixoid'"></app-username>,
          <app-username [username]="'noisebleed'"></app-username>,
          <app-username [username]="'notandanafn'"></app-username>,
          <app-username [username]="'oboist'"></app-username>,
          <app-username [username]="'oogl'"></app-username>,
          <app-username [username]="'OrBat'"></app-username>,
          <app-username [username]="'original_ferroman'"></app-username>,
          <app-username [username]="'paraom'"></app-username>,
          <app-username [username]="'Passer'"></app-username>,
          <app-username [username]="'pavel_zotov'"></app-username>,
          <app-username [username]="'Piijjen'"></app-username>,
          <app-username [username]="'piipel'"></app-username>,
          <app-username [username]="'PilotIK'"></app-username>,
          <app-username [username]="'Pisec'"></app-username>,
          <app-username [username]="'po100ronnij'"></app-username>,
          <app-username [username]="'poul_and'"></app-username>,
          <app-username [username]="'proletarium'"></app-username>,
          <app-username [username]="'qwwq'"></app-username>,
          <app-username [username]="'ratslayer'"></app-username>,
          <app-username [username]="'RaveX'"></app-username>,
          <app-username [username]="'realmrmax'"></app-username>,
          <app-username [username]="'reminor'"></app-username>,
          <app-username [username]="'rocket1'"></app-username>,
          <app-username [username]="'roskazna'"></app-username>,
          <app-username [username]="'Rostislavius'"></app-username>,
          <app-username [username]="'Ruslik9000'"></app-username>,
          <app-username [username]="'rvr'"></app-username>,
          <app-username [username]="'saintdoi'"></app-username>,
          <app-username [username]="'santhe'"></app-username>,
          <app-username [username]="'Sappa'"></app-username>,
          <app-username [username]="'Schmeisser'"></app-username>,
          <app-username [username]="'sergvo'"></app-username>,
          <app-username [username]="'seyfer'"></app-username>,
          <app-username [username]="'shokir'"></app-username>,
          <app-username [username]="'Siddhartha'"></app-username>,
          <app-username [username]="'Simas'"></app-username>,
          <app-username [username]="'Slavamir'"></app-username>,
          <app-username [username]="'smel'"></app-username>,
          <app-username [username]="'Spades'"></app-username>,
          <app-username [username]="'SpideRussia'"></app-username>,
          <app-username [username]="'spurlos'"></app-username>,
          <app-username [username]="'SuperBuba'"></app-username>,
          <app-username [username]="'tadex'"></app-username>,
          <app-username [username]="'Tarelka_borscha'"></app-username>,
          <app-username [username]="'tpambau'"></app-username>,
          <app-username [username]="'TrenchFouch'"></app-username>,
          <app-username [username]="'trus'"></app-username>,
          <app-username [username]="'Tungsten'"></app-username>,
          <app-username [username]="'umbabaraumba'"></app-username>,
          <app-username [username]="'Unlucky'"></app-username>,
          <app-username [username]="'Ural'"></app-username>,
          <app-username [username]="'v0ndelpark'"></app-username>,
          <app-username [username]="'vasyalee'"></app-username>,
          <app-username [username]="'VeranoMx'"></app-username>,
          <app-username [username]="'vince_vega'"></app-username>,
          <app-username [username]="'vio'"></app-username>,
          <app-username [username]="'volcano187'"></app-username>,
          <app-username [username]="'Warlock'"></app-username>,
          <app-username [username]="'weron'"></app-username>,
          <app-username [username]="'wingcat'"></app-username>,
          <app-username [username]="'x-one'"></app-username>,
          <app-username [username]="'YAP_UA'"></app-username>,
          <app-username [username]="'ymax99'"></app-username>,
          <app-username [username]="'York'"></app-username>,
          <app-username [username]="'YourHearing'"></app-username>,
          <app-username [username]="'Zoha'"></app-username>,
          <app-username [username]="'АлександЭр'"></app-username>,
          <app-username [username]="'щучий_потрох'"></app-username>.
        </p>
      </div>
    </div>

    <br>

  </div>

</div>


<img src="assets/images/sockpuppet.png" style="position: absolute; right: 0px;">
