<h5>Нам пишут</h5>

<div class="row">
  <div class="col-md-8">
    <p>Здесь собраны избранные цитаты пользователей d3,
      так или иначе касающиеся авторов сайта, на котором вы сейчас находитесь.
      Что из этого правда, а что ложь – судите сами:</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="https://cdn.jpg.wtf/futurico/a2/2e/1593721162-a22e2b809ef729b69a2a28d095a074b9.png" alt="" class="img-flex">
    <img src="https://cdn.jpg.wtf/futurico/11/eb/1587532324-11eb1deb12a8b6f0d6cfa94a6425e98a.png" alt="" class="img-flex">
  </div>

  <div class="col-md-6">
    <img src="https://cdn.jpg.wtf/futurico/0a/6c/1555202251-0a6cd998d652a25c949313c4b93b7e18.png" alt="" class="img-flex">
    <img src="https://cdn.jpg.wtf/futurico/a8/58/1565584553-a858b6f3825b5d2c96a6cfba443661a4.png" alt="" class="img-flex">
  </div>


</div>

